[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  SECRETS_SCAN_SMART_DETECTION_ENABLED = "false" # Allows Google Maps keys in frontend build output

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
